.SubmitButton {
  font-size: 1.5em;
  display: block;
  margin: 30px auto;
  text-align: center;
  width:auto;
  max-width: 100%;
  background-color: rgb(36, 220, 36);
  cursor: pointer;
  border-radius: 5px;
}


.SubmitButton:hover {
  background-color: #1b971b; 
}

@media only screen and (max-width: 768px) {
  .SubmitButton {
    font-size: 1.5em;
    margin: vh 3vh;
  }
}

@media only screen and (max-width: 480px) {
  .SubmitButton {
    font-size: 1em;
    margin: 4vh auto;
  }
}

.ExportButton {
  font-size: 1em;
  padding: 10px 20px;
  display: block;
  margin: 50px auto ;
  text-align: center;
  width: auto;
  max-width: 400px;
  background-color: rgb(36, 220, 36);
  cursor: pointer;
  border-radius: 5px;
}


.ExportButton:hover {
  background-color: #1ea71e; 
}

@media only screen and (max-width: 768px) {
.ExportButton {
    font-size: 0.8em;
    padding: 8px 16px;
    margin: 30px auto;
  }
}

@media only screen and (max-width: 480px) {
.ExportButton {
    font-size: 0.6em;
    padding: 6px 12px;
    margin: 40px 270px;
  }
}


.BarChart {
  width: 100%;
  height: 400px;
  display: block;
  margin: 0 auto;
  max-width: 800px;
}

@media only screen and (max-width: 768px) {
  .BarChart {
    height: 250px;
    margin: auto;
  }
}

@media only screen and (max-width: 480px) {
  .BarChart {
    height: 200px;
    margin:auto;
  }
}

